@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Parkinsans', sans-serif;
}

button:not(:disabled) {
    cursor: pointer;
}
.brand-gradient {
    background-image: linear-gradient(to right, #3F2B96, #ec4899);
}
