@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Plus Jakarta Sans', sans-serif;
}

button:not(:disabled):not(.card-btn) {
    cursor: pointer;
}

.brand-gradient {
    background-image: linear-gradient(to top right, var(--color-orange-500), var(--color-pink-500), var(--color-violet-500));
}

button.brand-gradient:hover {
    background-image: linear-gradient(to left bottom, var(--color-orange-500), var(--color-pink-500), var(--color-violet-500));

}

a:hover {
    transition: 0.3s;
    color: var(--color-slate-800)
}